@charset "UTF-8";
:root {
  --color-blue-1: #5CE0D8;
  --color-blue-2: #EEFCFB;
  --color-yellow-1: #FFCF43;
  --color-yellow-2: #FFF5D6;
  --color-black: #050720;
  --color-white: #FFFFFF;
}

html {
  font-family: "Maitree", serif;
}

body {
  background-color: silver;
}

.main {
  background-color: #FFFFFF;
  padding: 10px 40px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*si no pongo esto, cuando aumente el padding, la caja blanca crecerá y dejará de estar centrada (tendría q ajustar el margin)*/
  width: 80%;
  margin: 0 10% 0; /*le he dicho que se sitúe al 30% del espacio del padre, pq sumado a los otros 30 y a los 40 que mide el div, suman 100*/
  border-radius: 15px;
}

h1,
.h1 {
  font-size: 128px;
  font-family: "Lalezar", cursive;
}

h2,
.h2 {
  font-size: 96px;
  font-family: "Lalezar", cursive;
}

h3,
.h3 {
  font-size: 64px;
}

h4,
.h4 {
  font-size: 32px;
}

h5,
.h5 {
  font-size: 24px;
}

h6,
.h6 {
  font-size: 16px;
}

.color-bg--blue-1 {
  background-color: var(--color-blue-1);
}

.color-bg--blue-2 {
  background-color: var(--color-blue-2);
}

.color-bg--yellow-1 {
  background-color: var(--color-yellow-1);
}

.color-bg--yellow-2 {
  background-color: var(--color-yellow-2);
}

.color-bg--black {
  background-color: var(--color-black);
}

.color-bg--white {
  background-color: var(--color-white);
}

.grid-colorandfonts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px;
}

.color-container {
  width: 100px;
  height: 100px;
  padding: 2px;
  margin-top: 5px;
  text-align: center;
  border: 2px solid black;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin: 0 5% 0;
  padding: 10px 20px;
  background-color: var(--color-blue-1);
  color: var(--color-blue-2);
  border-radius: 38px;
}

.form, textarea {
  font-size: 1em;
  border: solid 1px var(--color-blue-2);
  border-radius: 5px;
  width: 100%;
}

input {
  border-radius: 5px;
  border: none;
}

[type=submit] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px auto;
  width: 110px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-blue-2);
  color: var(--color-blue-1);
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Maitree", sans-serif;
  border: #FFFFFF 0.2rem solid;
}

[type=submit]:hover {
  background-color: var(--color-blue-1);
  border: #FFFFFF 0.2rem solid;
  color: var(--color-blue-2);
}

.color-container__text--white {
  color: var(--color-white);
}

.section__titles {
  text-decoration: underline;
}

section {
  margin: 48px 0;
}

.header__margin {
  margin: 12px 0;
}