@charset "UTF-8";
:root {
  --color-blue-1: #5CE0D8;
  --color-blue-2: #EEFCFB;
  --color-yellow-1: #FFCF43;
  --color-yellow-2: #FFF5D6;
  --color-black: #050720;
  --color-white: #FFFFFF;
}

html {
  font-family: "Lalezar", serif;
  font-family: "Maitree", serif;
}

body {
  background-color: silver;
}

.main {
  background-color: #FFFFFF;
  padding: 10px 40px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*si no pongo esto, cuando aumente el padding, la caja blanca crecerá y dejará de estar centrada (tendría q ajustar el margin)*/
  width: 60%;
  margin: 0 20% 0; /*le he dicho que se sitúe al 30% del espacio del padre, pq sumado a los otros 30 y a los 40 que mide el div, suman 100*/
  border-radius: 15px;
}

h1,
.h1 {
  font-size: 128px;
}

h2,
.h2 {
  font-size: 96px;
}

h3,
.h3 {
  font-size: 64px;
}

h4,
.h4 {
  font-size: 32px;
}

h5,
.h5 {
  font-size: 24px;
}

h6,
.h6 {
  font-size: 16px;
}

.color-bg--blue-1 {
  background-color: var(--color-blue-1);
}

.color-bg--blue-2 {
  background-color: var(--color-blue-2);
}

.color-bg--yellow-1 {
  background-color: var(--color-yellow-1);
}

.color-bg--yellow-2 {
  background-color: var(--color-yellow-2);
}

.color-bg--black {
  background-color: var(--color-black);
}

.color-bg--white {
  background-color: var(--color-white);
}

.color-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.color-container__primary,
.color-container__secondary {
  width: 100px;
  height: 100px;
  padding: 2px;
  text-align: center;
  border: 2px solid black;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 5% 0;
  padding: 10px 20px;
  background-color: var(--color-blue-1);
  color: var(--color-blue-2);
  border-radius: 38px;
}

.form, textarea {
  font-size: 1em;
  border: solid 1px var(--color-blue-2);
  border-radius: 8px;
  width: 100%;
}

[type=checkbox]:checked {
  -webkit-box-shadow: 0 0 0 3px var(--color-blue-1);
          box-shadow: 0 0 0 3px var(--color-blue-1);
}

[type=submit] {
  margin: 15px 300px;
}

.color-container__text--white {
  color: var(--color-white);
}

.section__titles {
  text-decoration: underline;
}

section {
  margin: 48px 0;
}

.whereas__margin {
  margin: 12px 0;
}