//-------------Color de los divs------------//

.color-bg--blue-1 {
    background-color: var(--color-blue-1);
}

.color-bg--blue-2 {
    background-color: var(--color-blue-2);
}

.color-bg--yellow-1 {
    background-color: var(--color-yellow-1);
}

.color-bg--yellow-2 {
    background-color: var(--color-yellow-2);
}

.color-bg--black {
    background-color: var(--color-black);
}

.color-bg--white {
    background-color: var(--color-white);
}