
.grid-colorandfonts {
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 100px;
}



.color-container {
    width: 100px;
    height: 100px;
    padding: 2px;
    margin-top: 5px;
    text-align: center;
    border: 2px solid black;
}