
.color-container {
    display: flex;
    gap: 10px;
}

.color-container__primary,
.color-container__secondary {
    width: 100px;
    height: 100px;
    padding: 2px;
    text-align: center;
    border: 2px solid black;
}