html {
    font-family: 'Maitree', serif;

}

body {
    background-color: silver;
}

.main {
    background-color: #FFFFFF;
    padding: 10px 40px 25px;
    box-sizing: border-box; /*si no pongo esto, cuando aumente el padding, la caja blanca crecerá y dejará de estar centrada (tendría q ajustar el margin)*/
    width: 80%; 
    margin: 0 10% 0; /*le he dicho que se sitúe al 30% del espacio del padre, pq sumado a los otros 30 y a los 40 que mide el div, suman 100*/
    border-radius: 15px;
}