//-------------- código color en div negro---------//

.color-container__text--white {
    color: var(--color-white);
}

//------------subrayado títujlos secciones
.section__titles {
    text-decoration: underline;
}


section {
    margin: 48px 0;
}


.header__margin {
    margin: 12px 0;
}